name: ruff

# CINTENT >> MANUAL TRIGGER
# on:
#   push:
#     branches: [main]
#   pull_request:
#     branches: [main]
on: [repository_dispatch, workflow_dispatch]


jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@a606c80c34ec190c6a20dea33d6d58ddb6c4e0cc

      - name: "Set up Python 3.10"
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install uv
          uv pip install --system -e ".[dev-nn]"

      - name: Ruff check
        run: |
          ruff check --output-format github

      - name: Ruff format
        run: |
          ruff format --diff

      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}
